---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import UnderHeroTiles from "../components/UnderHeroTiles.astro";
---

<BaseLayout>
  <main class="bg-black">
    <Hero />
    <UnderHeroTiles />
  </main>
</BaseLayout>
