---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import UnderHeroTiles from "../components/UnderHeroTiles.astro";
import ServicesOverview from "../components/ServicesOverview.astro";
import BlogsOverview from "../components/BlogsOverview.astro";
---

<BaseLayout>
  <main class="bg-black">
    {/* Regel: Neue Blocks immer unten anfügen, außer explizit anders gewünscht. Reihenfolge: ServicesOverview -> BlogsOverview */}
    <Hero />
    <UnderHeroTiles />
    <ServicesOverview />
    <BlogsOverview />
  </main>
</BaseLayout>
