---
interface Props {
  class?: string;
}

const { class: className }: Props = Astro.props;

// PNG richtig importieren (funktioniert in Astro/Vite)
import cocktailPngUrl from "../../assets/icons/cocktail.png?url";
---

<span
  class:list={["cocktail-icon", className]}
  style={`
    width: var(--intro-icon-size, 200px);
    height: var(--intro-icon-size, 200px);
    background-color: var(--accent);
    -webkit-mask-image: url('${cocktailPngUrl}');
    mask-image: url('${cocktailPngUrl}');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  `}
></span>

<style>
  .cocktail-icon {
    display: inline-block;
  }
</style>
