---
interface Props {
  size?: number | string;
  class?: string;
}

const { size = 24, class: className }: Props = Astro.props;
const sizeValue = typeof size === "number" ? `${size}px` : size;
const iconUrl = new URL("../../assets/icons/cocktail.png", import.meta.url).href;
---

<span
  class={`cocktail-icon${className ? ` ${className}` : ""}`}
  style={`--icon-size: ${sizeValue}; --icon-url: url('${iconUrl}');`}
></span>

<style>
  .cocktail-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    display: inline-block;
    background-color: var(--accent, #c9682a);
    -webkit-mask-image: var(--icon-url);
    mask-image: var(--icon-url);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
</style>
